<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row top>
      <ion-title>
         <ion-text> Central de Estágio </ion-text> 
      </ion-title> 
    <ion-img style="width: 40px; height: 40px;" src="/assets/brasãoUFT.png"></ion-img> 
   </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>Filtrar vagas por: </ion-label>
          <ion-select multiple="true" cancelText="Cancelar" okText="Selecionar">
            <ion-select-option value="bacon">Periodo</ion-select-option>
            <ion-select-option value="olives">Curso</ion-select-option>
            <ion-select-option value="xcheese">Não obrigatorio</ion-select-option>
            <ion-select-option value="peppers">Obrigatorio</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    <ion-card class="welcome-card">
      <ion-card-content>
       <h1> <p> Estágio não obrigatorio </p>
        <p> Ciência da computação +cursos </p>
        <p> 600 + Beneficios </p> </h1>
            <ion-button size="small" float-end href="info">Tenho interesse</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-content>
          <p> Estágio não obrigatorio </p>
          <p> Ciência da computação +cursos </p>
          <p> 600 + Beneficios </p>
              <ion-button size="small" float-end href="https://ionicframework.com/docs/">Tenho interesse</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card">
          <ion-card-content>
            <p> Estágio não obrigatorio </p>
            <p> Ciência da computação +cursos </p>
            <p> 600 + Beneficios </p>
                <ion-button size="small" float-end>Tenho interesse</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card class="welcome-card">
            <ion-card-content>
              <p> Estágio não obrigatorio </p>
              <p> Ciência da computação +cursos </p>
              <p> 600 + Beneficios </p>
                  <ion-button size="small" float-end>Tenho interesse</ion-button>
            </ion-card-content>
          </ion-card>
          <ion-card class="welcome-card">
              <ion-card-content>
                <p> Estágio não obrigatorio </p>
                <p> Ciência da computação +cursos </p>
                <p> 600 + Beneficios </p>
                    <ion-button size="small" float-end>Tenho interesse</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="welcome-card">
                <ion-card-content>
                  <p> Estágio não obrigatorio </p>
                  <p> Ciência da computação +cursos </p>
                  <p> 600 + Beneficios </p>
                      <ion-button size="small" float-end>Tenho interesse</ion-button>
                </ion-card-content>
              </ion-card>
   
</ion-content>
